In [1]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df=pd.read_csv('/home/adityak/Desktop/Basic_LinkedInDataExport_02-03-2023./Connections.csv')

In [3]:
df

,First Name,Last Name,Email Address,Company,Position,Connected On
0,Maxime,Jublou,NaN,naas.ai,Open-Source Core Team,25 Jan 2023 ...
1,Tanisha,G,NaN,FRND,People and Culture,24 Jan 2023 ...
2,Nimish,Kashyap,NaN,NexSeed Club,Technical Lead,21 Jan 2023 ...
3,Karin,Hedenstrom,NaN,Polarium,Talent Acquisition Manager,18 Jan 2023 ...
4,RISHIT,ANAND,NaN,JUSPAY,SDE Intern,14 Jan 2023 ...
...,...,...,...,...,...,...
163,Rakshith,Vikramraj,NaN,Kaiburr,Software Engineer,21 Aug 2020 ...
164,Pooja,Dinakaran,NaN,Amazon,QA Engineer,20 Aug 2020 ...
165,Ankita,Gupta,anki98933@gmail.com,Silicon Labs,Hardware Engineer 1,20 Aug 2020 ...
166,Fabian,Sanjose,fabiansanjose2698@gmail.com,Deloitte,DC Analyst,20 Aug 2020 ...
167,Kruti,Patel,NaN,Intel Corporation,Software Research Engineer/Scientist,20 Aug 2020 ...

In [4]:
#df=df.drop('Connected On')

In [5]:
df.reindex()

,First Name,Last Name,Email Address,Company,Position,Connected On
0,Maxime,Jublou,NaN,naas.ai,Open-Source Core Team,25 Jan 2023 ...
1,Tanisha,G,NaN,FRND,People and Culture,24 Jan 2023 ...
2,Nimish,Kashyap,NaN,NexSeed Club,Technical Lead,21 Jan 2023 ...
3,Karin,Hedenstrom,NaN,Polarium,Talent Acquisition Manager,18 Jan 2023 ...
4,RISHIT,ANAND,NaN,JUSPAY,SDE Intern,14 Jan 2023 ...
...,...,...,...,...,...,...
163,Rakshith,Vikramraj,NaN,Kaiburr,Software Engineer,21 Aug 2020 ...
164,Pooja,Dinakaran,NaN,Amazon,QA Engineer,20 Aug 2020 ...
165,Ankita,Gupta,anki98933@gmail.com,Silicon Labs,Hardware Engineer 1,20 Aug 2020 ...
166,Fabian,Sanjose,fabiansanjose2698@gmail.com,Deloitte,DC Analyst,20 Aug 2020 ...
167,Kruti,Patel,NaN,Intel Corporation,Software Research Engineer/Scientist,20 Aug 2020 ...

In [6]:
#df =df.get('Position', default="DAta")

In [7]:
#df.loc['2']

In [8]:
#df = df.drop(df.columns[[3],[5],[6]], axis=1)

In [9]:
#df=df.drop(['Email Address','Position'],axis=1)

In [ ]:
#df['Name']=df['First Name']+' '+df['Last Name']

In [ ]:
#df=df.drop(['First Name','Last Name'],axis=1)

In [10]:
gf = df.groupby('Company')

In [11]:
gf.last()

,First Name,Last Name,Email Address,Position,Connected On
Company,,,,,
AIESEC in India,Varun,Jindal,None,Junior Manager Outgoing Corporate Sector at AI...,13 Mar 2021 ...
AMD,Abdul Haleem,Mohammed,None,Sr. Manager Design Engineering,26 Aug 2022 ...
Absa Bank Kenya,Abell,Wandili,None,Graduate Management Trainee,23 Jun 2022 ...
Accenture,Manav,Arora,None,Advanced App Engineering Analyst,03 Feb 2022 ...
Accenture in India,PRATIK,PATHAK,None,Full Stack Engineering Senior Analyst,19 Sep 2020 ...
...,...,...,...,...,...
basedTalent,Cristel Jane,Tungol,None,Marketing Specialist,12 Jun 2022 ...
bridge351,Liliana,Santos,None,Business Manager,02 Jan 2023 ...
iSAT Systems,Aravind,Harinarayanan,None,Machine Learning Intern,03 Jan 2023 ...
naas.ai,Maxime,Jublou,None,Open-Source Core Team,25 Jan 2023 ...
roboVITics - The Official Robotics Club of VIT,Adhiraj,Saxena,None,Core Committee Member,13 Oct 2021 ...

In [12]:
gf

In [13]:
company=[]
member=[]
weight=[]

In [14]:
count1=0;
count2=150
for name,group in gf:
    for i in range(len(group)):
        company.append(count1)
        member.append(count2)
        weight.append(1)
        count2=count2+1
    count1=count1+1

In [15]:
company

[0,
 1,
 2,
 3,
 4,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 13,
 14,
 15,
 16,
 17,
 18,
 18,
 18,
 19,
 20,
 21,
 22,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 29,
 29,
 29,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 35,
 35,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 41,
 41,
 42,
 43,
 44,
 44,
 45,
 46,
 47,
 48,
 49,
 49,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 58,
 59,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 67,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 74,
 75,
 76,
 77,
 78,
 78,
 78,
 79,
 80,
 81,
 82,
 82,
 82,
 83,
 84,
 85,
 86,
 86,
 87,
 88,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 109]